
@font-face{

    font-family: quicksand-bold;
    src: url('../fonts/Quicksand-Bold.ttf');
}
@font-face{
    font-family: quicksand-light;
    src: url('../fonts/Quicksand-Light.ttf');
}
@font-face{
    font-family: dancing-script-bold;
    src: url('../fonts/DancingScript-Bold.ttf');
}
@font-face{
    font-family: dancing-script-regular;
    src: url('../fonts/DancingScript-Regular.ttf');
}
@font-face{
    font-family: raleway-bold;
    src: url('../fonts/Raleway-Bold.ttf');
}
@font-face{
    font-family: raleway-thin;
    src: url('../fonts/Raleway-Thin.ttf');
}


*{
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-color: #0e0e0e;
}
.section{
    min-height:100vh;
    scroll-snap-type: mandatory;
}
#name_section{
    height:100vh;
    width:100vw;
    background:linear-gradient(to right bottom ,#000,rgba(33, 147, 176, 0.4), #000), url('/assets/bg.gif') center no-repeat;
    background-size: cover;
}
.loader{
    height: 100vh;
    width:100%;
    background: linear-gradient(to right top,#fff,#b21f1f,#FF0099,#004e92,#00F260);
    background-size: 400%;
    overflow-y: hidden;
    z-index: 999;
    position: fixed;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    animation: color 1s infinite alternate;
    color:#1565C0;
    font-weight:600;
}

@keyframes color{
    0%{
        background-size: 300%;
    }
    25%{
        background-size: 200%;
    }
    50%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}
.section_heading{
    color:#fff;
    text-transform: capitalize;
     font-family: dancing-script-bold,"baskerville old face";
    font-weight: 900;
    font-size:4rem;
    text-align: center;
    letter-spacing: 5px;
}
.sticky_about{
    width:100%;
    margin:2rem auto;
}
/**Navbar sidebar**/
 .navbar_top {
    display: flex;
    transition:all 0.2s ease-in-out;
    flex-direction: column;
    padding:0px;
    min-width:10%;
    box-sizing: border-box;
    height: 100vh;
    top:0px;
    position: fixed;
    background: #000;
    justify-content:center;
    z-index: 100;
    overflow-y:scroll;
    align-items: center;
}
 .name_top_head{
    font-family: dancing-script-regular,monospace;
    color:#fff;
    background:#000;
    text-align: center;
    z-index: 100;
    top:0;
    width:100%;
    padding: 10px;
    margin:0px auto;
    position: fixed;
    font-size:3rem;
}
.navbar_top > .navbar_list_item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y:auto;
    height:100%;
    align-items: center;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 29, 56, 0.8); 
  }

/*
.sidenav_toggler > .sidenav_list{
    display: none;
}
*/
.navbar_top > .navbar_list_item > li{
    width:100%;
    font-size:1.3rem;
    padding:10px;
    text-align: center;
    font-family:raleway-thin,montserrat;
}
.fa-user-check{
    color:#1565C0;
    font-weight:600;
}
.fa-studiovinari,
.fa-bullhorn
{
    color: #b21f1f;
    font-weight:600;
}
.fa-paper-plane{
    color:#FF0099;
    font-weight:600;
}
.fa-tasks{
    color:#f5af19;
}
.fa-address-card{
    color:#00F260;
}
.fa-user-check,
.fa-studiovinari,
.fa-paper-plane,
.fa-tasks,
.fa-address-card {
    display: block;
    position: relative;
    width:100%;
   margin:10px auto;
   animation: move 1s infinite alternate;
}
.navbar_toggler_icon_open{
    background-color: transparent;
    color:#fff;
    display: none;
    border:none;
    z-index: 100;
    font-size: 2rem;
    outline: none;
    padding: 10px;
}
.open_side_nav{
    color:#b21f1f;
}

 a{
     color:#fff;
    text-decoration: none;
}
.sticky_about > .intro_flex_container{
    display: flex;
    margin:3rem auto;
    justify-content: center;
    padding:10px;
    align-items: center;
}
.sticky_about > .intro_flex_container > .display_image > img{
    height:100%;
    width:70%;
    display: block;
    position: relative;
    animation: move 1s infinite alternate;
    margin:20px auto;
}
.sticky_about > .intro_flex_container > .my_intro{
    color:#fff;
    margin:auto 30px;
    width:30%;
    display: inline-block;
    font-family: quicksand-light,montserrat;
    line-height: 1.6;
    text-align: justify;
}
.post_script{
    margin:10px auto;
    display: flex;
    font-family: quicksand-light,montserrat;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.post_script > p{
    border:1px solid #00F260;
    border-radius: 10px;
    min-width:150px;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}
.post_script > h3{
    display: flex;
    font-family: dancing-script-bold,"baskerville old face";
    letter-spacing: 3px;
    font-size:1.2rem;
    justify-content: flex-start;
    align-items: center;
}
.tea_cup{
    height:80px;
    width:100px;
}
/**Projects**/
.project_grid_container{
    width:80%;
    position: relative;
    left:50px;
    margin:20px auto;
}
.swiper-container {
    width: 100%;
    min-height: 50vh;
   margin:auto auto;
    overflow-x: hidden;
  }
  .swiper-slide {
      width: 100%;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    background:#203A43;
   border:5px solid #fff;
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-wrapper:nth-child(2n){
      transform: scale(1.5);
  }
  .swiper-slide > video{
      width:100%;
      border:2px solid #fff;
      position: relative;
      height:100%;
      border-radius: 10px 10px 0px 0px;
  }
  @keyframes move{
      0%{
          top:10px;
            
      }
      100%{
          top:-10px;
      }
  }
  .swiper-slide > .project-description{
      position:relative;
      bottom:0;
      color:#fff;
      z-index:20 ;
      width: 100%;
      line-height: 1.6;
      border-radius: 0 0 10px 10px;
  }
  .swiper-slide > .project-description > h1{
    font-family:  dancing-script-bold;
    filter:drop-shadow(5px 5px 2px rgba(0, 242, 96, 0.5));
    font-size:3rem;
    letter-spacing: 5px;
  }
  .underline{
      width:15%;
      margin:0px auto;
  }
  .swiper-slide > .project-description > p{
    font-family: quicksand-light,Arial, Helvetica, sans-serif;
    margin:10px;
}
  .swiper-slide > .project-description > p::first-line{
      font-family: raleway-thin,monospace;
  }
  .swiper-slide > .project-description > img{
      height:100px;
      margin:5px;
      right: 0;
      width:auto;

  }
  .swiper-slide > .project-description > ul{
      list-style: none;
      display: flex;
      border-radius: 0 0 10px 10px;
      width:100%;
      border-top:1px solid #fff;
      justify-content: center;
  }
  .swiper-slide > .project-description > ul > li{
    margin:20px;
    font-family: quicksand-bold,monospace;
}
.swiper-slide > .project-description > ul >li >a{
    background: linear-gradient(to right,#00467F,#38ef7d);
    padding:10px;
    border-radius: 10px;
    height:50px;
    width:150px;
}
  .swiper-slide > .overlay{
      height:50%;
      width:100%;
      display: none;
      background-color: #0009;
      position: absolute;
      z-index: 10;
      top:0px;
  }
  .swiper-button-prev,
  .swiper-button-next{
      color:white;
      background-color: #0009;
      padding: 20px;
      border-radius: 5px;
      outline: none;
  }

#footer_bottom{
    width:100%;
    min-height:100px;
    background-color: #000;
    color:#fff;
}
#footer_bottom > .social_media_contact{
    list-style-type: none;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:10px auto;
}
#footer_bottom > .social_media_contact > li{
    margin:20px;
    font-size: 2.5rem;
}
#footer_bottom > .personal_contact{
    list-style-type: none;
    width:100%;
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: quicksand-light;
    margin:0 auto;
}
.fa-facebook,
.fa-linkedin,
.fa-instagram,
.fa-github{
    transition: all 0.2s ease-in-out;
    filter:drop-shadow(5px 5px 2px rgba(33, 147, 176, 0.5));
}
.fa-facebook:hover{
    filter:drop-shadow(-5px 5px 2px rgba(0, 242, 96, 0.5))
}
.fa-instagram:hover{
    filter:drop-shadow(-5px 5px 2px rgba(178, 31, 31, 1));
}
.fa-linkedin:hover{
    filter:drop-shadow(-5px 5px 2px rgba(245, 175, 25, 1));
}
.fa-github:hover{
    filter:drop-shadow(-5px 5px 2px rgba(255, 0, 153, 1));
}
#footer_bottom > .personal_contact > li{
    margin:20px;
}
#footer_bottom > .personal_contact > li > .line{
    margin:10px auto;
    width:50px;

}
@media (max-width: 1130px) { 
    .overlay_project_text > h1{
        letter-spacing: 2px;
        padding: 5px;
        text-align: center;
        font-size: 1.5rem;
    }
    .overlay_project_text > span{
        font-family: raleway-bold;
        text-align: center;
    }
     .underline{
        width:20%;
        margin:10px auto;
    }
    .overlay_project_text > ul{
        margin:2px auto;
        justify-content: center;
    }
    .overlay_project_text > ul > li{
         margin:5px;
    }
    .overlay_project_text > ul > li >a{
        padding:5px;
    }
 }
@media (max-width: 991.98px) { 
     
}


@media only screen and (max-width:800px){
    .navbar_top{
        transform: scale(0);
        min-width:20%;
    }
    .navbar_top > h3{
        font-size:3rem;
    }
    .sticky_about > .intro_flex_container{
        flex-direction: column;
        margin:2rem auto;
        width:80%;
    }
    .sticky_about > .intro_flex_container > .display_image > img{
        width:100%;
        transition: all 1s ease-in-out;
    }
    .sticky_about > .intro_flex_container > .my_intro{
        width:100%;
    }
    .navbar_toggler_icon_open,
    .open_side_nav{
        display: inline;
        position: fixed;
        background-color: #0009;
        padding: 15px;
        transition:all 0.3s ease-in-out;
        right:10px;
        border-radius: 10px;
        bottom:10px;
    }
    .name_top_head{
        background:linear-gradient(to right, #0009,#0009), url('/assets/bg-3.gif');
        background-size: cover;
    }
    .project_grid_container{
        width:95%;
        left:0;
    }
    .swiper-container {
        width: 100%;
        min-height: 80vh;
       margin:auto auto;
        overflow-x: hidden;
      }
   
}
@media (max-width: 767.98px) {
   
 }
@media (max-width: 575.98px) { 
    .swiper-slide > .project-description > img{
        height:100px;
        margin:5px;
        right: 0;
        width:200px
    }
 }
/*
@media only screen and (max-width:650px){
    
    .navbar_top{
        min-height:50px;
    }
    .navbar_top > .navbar_list_item{
        display: none;
    }
    .navbar_top > .navbar_toggler_icon_open{
        display: inline;
        position:relative;
        top:60px;
        background-color: #000;
        padding: 10px;
        right:15px;
    }
    .sidenav_toggler > .navbar_toggler_icon_close{
        display: inline;
        position: fixed;
        left:25%;
        top:5px;
        transform:translateX(-4000px) ;
        transition: all 0.8s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list{
        display: flex;
        transform:translateX(4000px) ;
        flex-direction: column;
        height:100vh;
        overflow-y:scroll;
        z-index: 99;
        justify-content: center;
        position: fixed;
        top:0%;
        left:0;
        padding:10px;
        align-items: center;
        background-color: #000;
        min-width:50%;
        list-style: none;
        transition: all 0.5s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list > li{
        border: 1px solid #fff;
        padding:20px;
        text-align:center;
        min-width:inherit;
        margin:15px auto;
    }
}
*/

@media only screen and (max-width:500px){
    .sticky_about > .intro_flex_container{
        flex-direction: column;
        margin:3rem auto;
        padding: 0;
        width:90%;
    }
    .navbar_top > h3{
        font-size:2rem;
    }
    #footer_bottom > .personal_contact{
        flex-direction: column;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
       margin:auto auto;
        overflow-x: hidden;
      }
      .swiper-pagination{
          position: relative !important;
      }
      .swiper-pagination-bullet {
        min-width: 15px;
        min-height: 15px;
        padding: 0px;
        font-size: 0.8rem;
      }
     
}
@media only screen and (max-width:450px){
    .swiper-button-prev,
    .swiper-button-next{
      top:30%;
    }
    .swiper-slide > .project-description > img{
        height:60px;
        margin:5px;
        right: 0;
        width:150px
    }
}
@media only screen and (max-width:400px){
    .swiper-slide > .project-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .underline{
        margin:10px;
    }
    .swiper-slide > .project-description > h1{
        font-size:2rem;
        letter-spacing: 5px;
      }
      .swiper-slide > .project-description > p{
        font-family: quicksand-light,Arial, Helvetica, sans-serif;
        margin:10px;
        text-align: left;
    }
      .swiper-slide > .project-description > ul{
          list-style: none;
          display: flex;
          border-radius: 0 0 10px 10px;
          width:100%;
          border-top:1px solid #fff;
          justify-content: flex-start;
      }
      .swiper-slide > .project-description > ul > li{
        margin:20px 5px;
        font-family: quicksand-bold,monospace;
    }
    .swiper-slide > .project-description > ul >li >a{
        background: linear-gradient(to right,#00467F,#38ef7d);
        padding:10px;
        border-radius: 10px;
        height:50px;
        width:150px;
    }
}
@media only screen and (max-width:350px)
{
    .section_heading{
        font-size:2.5rem;
    }
    .about_me_flex{
        width: 90%;
    }
    
}
