/** @format */
/* vietnamese */
@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Rep6hNX6plRPjLo.woff)
		format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03ROp6hNX6plRPjLo.woff)
		format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup6hNX6plRP.woff)
		format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58m-xDwxUD2GF9Zc.woff)
		format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-xDwxUD2GF9Zc.woff)
		format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-xDwxUD2GFw.woff)
		format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
		U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
		U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
* {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	width: 100%;
	position: relative;
	background-color: #0e0e0e;
}
button:focus {
	outline: none;
}
.section {
	min-height: 100vh;
}
.top-section-head {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-heading-image {
	height: 160px;
	width: 200px;
}
.section_heading {
	color: #fff;
	text-transform: capitalize;
	font-family: 'Dancing Script', cursive;
	font-weight: 300;
	font-size: 4rem;
	text-align: center;
	letter-spacing: 5px;
}

#name_section {
	height: 100vh;
	width: 100vw;
	display: flex;
	position: relative;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(to right bottom, #0009, #0009, #0009),
		url('/assets/bg.gif') center no-repeat;
	background-size: cover;
}

.hero-text {
	position: relative;
	left: 20%;
}
.main_head_name {
	font-family: 'Raleway', sans-serif;
	font-size: 6rem;
	z-index: 99;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	color: white;
}

.f-name {
	color: rgba(33, 147, 176, 1);
}
.l-name {
	transition: all 1s ease-in-out;
}
.hero-image-icon {
	position: absolute;
	right: 20px;
	bottom: -50px;
}
.profile_designation {
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	transition: all 0.5s ease-in-out;
	transform: translateY(-2000px);
	position: relative;
	left: 30px;
	font-weight: 100;
	color: #ffffff;
}
#name_section > .hero-text > button {
	border: none;
	transition: all 0.5s ease-in-out;
	transform: translateY(2000px);
	display: flex;
	position: relative;
	left: 30px;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	padding: 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	background: rgba(33, 147, 176, 1);
	color: #ffffff;
	cursor: pointer;
}
#name_section > .hero-text > button > span {
	color: #b21f1f;
	font-size: 1.2rem;
	margin: 0 10px;
}
#name_section > .hero-text > button:hover {
	background: rgba(33, 147, 176, 0.7);
}
.loader {
	height: 100vh;
	width: 100%;
	background: linear-gradient(
		to right top,
		#fff,
		#b21f1f,
		#ff0099,
		#004e92,
		#00f260
	);
	background-size: 400%;
	overflow-y: hidden;
	z-index: 999;
	position: fixed;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	animation: color 1s infinite alternate;
	color: #1565c0;
	font-weight: 600;
}

@keyframes color {
	0% {
		background-size: 300%;
	}
	25% {
		background-size: 200%;
	}
	50% {
		background-size: 150%;
	}
	100% {
		background-size: 100%;
	}
}

.sticky_about {
	width: 100%;
	margin: 2rem auto;
}
/**Navbar sidebar**/
.navbar_top {
	display: flex;
	transition: all 0.2s ease-in-out;
	padding: 0px;
	min-width: 100%;
	box-sizing: border-box;
	height: 70px;
	bottom: 0px;
	position: fixed;
	background: #000;
	justify-content: space-evenly;
	z-index: 100;
	align-items: center;
}
.navbar_top > .navbar_list_item {
	list-style-type: none;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	align-items: center;
}
/* width */
::-webkit-scrollbar {
	width: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 29, 56, 0.8);
}

/*
.sidenav_toggler > .sidenav_list{
    display: none;
}
*/
.navbar_top > .navbar_list_item > li {
	width: 100%;
	font-size: 1.3rem;
	text-align: center;
	display: flex;
	justify-content: center;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.navbar_top > .navbar_list_item > li > a {
	display: flex;
	justify-content: flex-start;
	transition: all 0.2s ease-in-out;
	align-items: center;
}
.fa-user-check {
	color: #1565c0;
	font-weight: 600;
}
.fa-studiovinari,
.fa-bullhorn {
	color: #b21f1f;
	font-weight: 600;
}
.fa-paper-plane {
	color: #ff0099;
	font-weight: 600;
}
.fa-tasks {
	color: #f5af19;
}
.fa-address-card {
	color: #00f260;
}
.skills:hover,
.internships:hover,
.projects:hover,
.resume:hover {
	letter-spacing: 2px;
}
.fa-user-check,
.fa-studiovinari,
.fa-paper-plane,
.fa-tasks,
.fa-address-card {
	margin: 0 10px;
	animation: move 1s infinite alternate;
}
.navbar_toggler_icon_open {
	background-color: transparent;
	color: #fff;
	display: none;
	border: none;
	z-index: 100;
	font-size: 2rem;
	outline: none;
	padding: 10px;
	cursor: pointer;
}
.open_side_nav {
	color: #b21f1f;
}

a {
	color: #fff;
	text-decoration: none;
}
.sticky_about > .intro_flex_container {
	display: flex;
	margin: 3rem auto;
	justify-content: center;
	padding: 10px;
	align-items: center;
}
.sticky_about > .intro_flex_container > .display_image > img {
	height: 100%;
	width: 70%;
	display: block;
	position: relative;
	margin: 20px auto;
}
.sticky_about > .intro_flex_container > .my_intro {
	color: #fff;
	margin: auto 30px;
	width: 30%;
	display: inline-block;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.6;
	text-align: left;
}
.post_script {
	margin: 10px auto;
	display: flex;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.post_script > p {
	border: 1px solid #00f260;
	border-radius: 10px;
	min-width: 150px;
	text-align: center;
	padding: 8px;
	box-sizing: border-box;
}
.post_script > h3 {
	display: flex;
	font-family: 'Dancing Script', cursive;
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 1.2rem;
	justify-content: flex-start;
	align-items: center;
}
.tea_cup {
	height: 80px;
	width: 100px;
}
/**Projects**/

/*Resume section*/
.resume-placeholder {
	display: block;
	margin: 30px auto;
	transition: all 0.5s ease-in-out;
}
.resume-placeholder:hover {
	border-radius: 20px;
}
/*Footer*/
#footer_bottom {
	width: 100%;
	min-height: 200px;
	background-color: #000;
	color: #fff;
}
#footer_bottom > .social_media_contact {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}
#footer_bottom > .social_media_contact > li {
	margin: 20px;
	font-size: 2.5rem;
}
#footer_bottom > .personal_contact {
	list-style-type: none;
	width: 100%;
	font-size: 1.5rem;
	display: flex;
	position: relative;
	top: -30px;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	flex-wrap: wrap;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
}

.fa-facebook,
.fa-linkedin,
.fa-instagram,
.fa-github {
	transition: all 0.2s ease-in-out;
	filter: drop-shadow(5px 5px 2px rgba(33, 147, 176, 0.5));
}
.fa-facebook:hover {
	filter: drop-shadow(-5px 5px 2px rgba(0, 242, 96, 0.5));
}
.fa-instagram:hover {
	filter: drop-shadow(-5px 5px 2px rgba(178, 31, 31, 1));
}
.fa-linkedin:hover {
	filter: drop-shadow(-5px 5px 2px rgba(245, 175, 25, 1));
}
.fa-github:hover {
	filter: drop-shadow(-5px 5px 2px rgba(255, 0, 153, 1));
}
#footer_bottom > .personal_contact > li {
	margin: 20px;
}
#footer_bottom > .personal_contact > li > .line {
	margin: 10px auto;
	width: 50px;
}
@media (max-width: 1130px) {
}
@media (max-width: 991.98px) {
}

@media only screen and (max-width: 800px) {
	.navbar_top > h3 {
		font-size: 3rem;
	}
	.hero-text {
		position: relative;
		left: 10%;
	}
	.main_head_name {
		font-size: 6rem;
	}
	.profile_designation {
		font-size: 2rem;
		left: 30px;
	}
	#name_section > .hero-text > button {
		position: relative;
		left: 30px;
		font-size: 1rem;
	}
	.sticky_about > .intro_flex_container {
		flex-direction: column;
		margin: 2rem auto;
		width: 80%;
	}
	.sticky_about > .intro_flex_container > .display_image > img {
		width: 100%;
		transition: all 1s ease-in-out;
	}
	.sticky_about > .intro_flex_container > .my_intro {
		width: 100%;
	}

	.name_top_head {
		background: linear-gradient(to right, #0009, #0009), url('/assets/bg-3.gif');
		background-size: cover;
	}
}
@media only screen and (max-width: 700px) {
	.hero-text {
		left: 5%;
	}
	.main_head_name {
		font-size: 5rem;
	}
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
	.navbar_top {
		display: flex;
		transition: all 0.2s ease-in-out;
		flex-direction: column;
		padding: 0px;
		transform: scale(0);
		min-width: 20%;
		box-sizing: border-box;
		height: 100vh;
		position: fixed;
		background: #000;
		justify-content: center;
		z-index: 100;
		align-items: center;
	}

	.navbar_top > .navbar_list_item {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow-y: auto;
		height: 100%;
		align-items: center;
	}

	.navbar_top > .navbar_list_item > li {
		width: 100%;
		font-size: 1.3rem;
		padding: 10px;
		text-align: center;
	}
	.navbar_top > .navbar_list_item > li > a {
		display: block;
	}
	.fa-user-check,
	.fa-studiovinari,
	.fa-paper-plane,
	.fa-tasks,
	.fa-address-card {
		display: block;
		position: relative;
		width: 100%;
		margin: 10px auto;
		animation: move 1s infinite alternate;
	}
	.navbar_toggler_icon_open,
	.open_side_nav {
		display: inline;
		position: fixed;
		padding: 15px;
		transition: all 0.3s ease-in-out;
		right: 10px;
		border-radius: 10px;
		top: 10px;
	}
	.section-heading-image {
		height: 130px;
		width: 180px;
	}
	.section_heading {
		font-size: 3rem;
		letter-spacing: 0px;
	}
	.hero-text {
		top: 0%;
		left: 5%;
	}
	.main_head_name {
		font-size: 4rem;
	}
	.profile_designation {
		font-size: 2rem;
		left: 20px;
	}
	#name_section > .hero-text > button {
		left: 20px;
	}
	#footer_bottom > .personal_contact {
		top: 0px;
	}
}
/*
@media only screen and (max-width:650px){
    
    .navbar_top{
        min-height:50px;
    }
    .navbar_top > .navbar_list_item{
        display: none;
    }
    .navbar_top > .navbar_toggler_icon_open{
        display: inline;
        position:relative;
        top:60px;
        background-color: #000;
        padding: 10px;
        right:15px;
    }
    .sidenav_toggler > .navbar_toggler_icon_close{
        display: inline;
        position: fixed;
        left:25%;
        top:5px;
        transform:translateX(-4000px) ;
        transition: all 0.8s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list{
        display: flex;
        transform:translateX(4000px) ;
        flex-direction: column;
        height:100vh;
        overflow-y:scroll;
        z-index: 99;
        justify-content: center;
        position: fixed;
        top:0%;
        left:0;
        padding:10px;
        align-items: center;
        background-color: #000;
        min-width:50%;
        list-style: none;
        transition: all 0.5s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list > li{
        border: 1px solid #fff;
        padding:20px;
        text-align:center;
        min-width:inherit;
        margin:15px auto;
    }
}
*/

@media only screen and (max-width: 500px) {
	.sticky_about > .intro_flex_container {
		flex-direction: column;
		margin: 3rem auto;
		padding: 0;
		width: 90%;
	}
	.navbar_top > h3 {
		font-size: 2rem;
	}
	#footer_bottom > .personal_contact {
		flex-direction: column;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		margin: auto auto;
		overflow-x: hidden;
	}
	.swiper-pagination {
		position: relative !important;
	}
	.swiper-pagination-bullet {
		min-width: 15px;
		min-height: 15px;
		padding: 0px;
		font-size: 0.8rem;
	}
}
@media only screen and (max-width: 450px) {
	.section-heading-image {
		height: 120px;
		width: 150px;
	}
	.section_heading {
		font-size: 2.5rem;
	}
	.swiper-slide {
		width: 100% !important;
	}
	.swiper-slide > .project-description > img {
		height: 60px;
		margin: 5px;
		right: 0;
		width: 150px;
	}
	.main_head_name {
		font-size: 3rem;
	}
	.profile_designation {
		font-size: 1.5rem;
		left: 0px;
	}
	#name_section > .hero-text > button {
		left: 0px;
		padding: 7px;
	}
}
@media only screen and (max-width: 400px) {
	.f-name {
		margin-left: 50px;
	}
	.l-name {
		display: block;
		margin-left: 100px;
	}
	.main_head_name {
		font-size: 4rem;
	}
	.profile_designation {
		font-size: 1.7rem;
		margin-left: 50px;
	}
	#name_section > .hero-text > button {
		left: 15%;
		padding: 7px;
		font-size: 1.2rem;
	}
	.swiper-slide > .project-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 20px;
	}
	.underline {
		margin: 10px;
	}
	.swiper-slide > .project-description > h1 {
		font-size: 2rem;
		letter-spacing: 5px;
	}
	.swiper-slide > .project-description > p {
		font-family: quicksand-light, Arial, Helvetica, sans-serif;
		margin: 10px;
	}
	.swiper-slide > .project-description > ul {
		list-style: none;
		display: flex;
		border-radius: 0 0 10px 10px;
		width: 100%;
		border-top: 1px solid #fff;
		justify-content: center;
	}
	.swiper-slide > .project-description > ul > li {
		margin: 20px 5px;
		font-family: quicksand-bold, monospace;
	}
	.swiper-slide > .project-description > ul > li > a {
		background: linear-gradient(to right, #00467f, #38ef7d);
		padding: 10px;
		border-radius: 10px;
		height: 50px;
		width: 150px;
	}
	.swiper-button-next {
		top: 60%;
		background: transparent;
		right: 0 !important;
	}
	.swiper-button-prev {
		top: 60%;
		background: transparent;
		left: 0 !important;
	}
}
@media only screen and (max-width: 350px) {
	.section-heading-image {
		height: 80px;
		width: 100px;
	}
	.section_heading {
		font-size: 2rem;
	}

	.section_heading {
		font-size: 2.5rem;
	}
	.about_me_flex {
		width: 90%;
	}

	.hero-text {
		top: 0%;
		left: 5%;
	}
	.f-name {
		margin-left: 30px;
	}
	.l-name {
		display: block;
		margin-left: 80px;
	}
	.main_head_name {
		font-size: 4rem;
	}
	.profile_designation {
		font-size: 1.7rem;
		margin-left: 30px;
	}
	#name_section > .hero-text > button {
		left: 10%;
		padding: 7px;
		font-size: 1.2rem;
	}
}
