
@font-face{

    font-family: quicksand-bold;
    src: url('../fonts/Quicksand-Bold.ttf');
}
@font-face{
    font-family: quicksand-light;
    src: url('../fonts/Quicksand-Light.ttf');
}
@font-face{
    font-family: dancing-script-bold;
    src: url('../fonts/DancingScript-Bold.ttf');
}
@font-face{
    font-family: dancing-script-regular;
    src: url('../fonts/DancingScript-Regular.ttf');
}
@font-face{
    font-family: raleway-bold;
    src: url('../fonts/Raleway-Bold.ttf');
}
@font-face{
    font-family: raleway-thin;
    src: url('../fonts/Raleway-Thin.ttf');
}


*{
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-color: #0e0e0e;
}
.section{
    min-height:100vh;
    scroll-snap-type: mandatory;
}
#name_section{
    height:100vh;
    width:100vw;
    background:linear-gradient(to right bottom ,#000,rgba(33, 147, 176, 0.4), #000), url('/assets/bg.gif') center no-repeat;
    background-size: cover;
}
.loader{
    height: 100vh;
    width:100%;
    background: linear-gradient(to right top,#fff,#b21f1f,#FF0099,#004e92,#00F260);
    background-size: 400%;
    overflow-y: hidden;
    z-index: 999;
    position: fixed;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    animation: color 1s infinite alternate;
    color:#1565C0;
    font-weight:600;
}

@keyframes color{
    0%{
        background-size: 300%;
    }
    25%{
        background-size: 200%;
    }
    50%{
        background-size: 150%;
    }
    100%{
        background-size: 100%;
    }
}
.section_heading{
    color:#fff;
    text-transform: capitalize;
     font-family: dancing-script-bold;
    font-weight: 900;
    font-size:4rem;
    text-align: center;
    letter-spacing: 5px;
}
.sticky_about{
    width:100%;
    margin:2rem auto;
}
 .navbar_top {
    display: flex;
    transition:all 0.2s ease-in-out;
    flex-direction: column;
    padding:0px;
    min-width:15%;
    box-sizing: border-box;
    height: 100vh;
    top:0px;
    position: fixed;
    background: #000;
    justify-content:center;
    z-index: 100;
    overflow-y:scroll;
    align-items: center;
}
 .name_top_head{
    font-family: dancing-script-regular;
    color:#fff;
    background:#000;
    text-align: center;
    z-index: 10;
    top:0;
    width:100%;
    padding: 10px;
    margin:0px auto;
    position: fixed;
    font-size:3rem;
}
.navbar_top > .navbar_list_item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y:auto;
    height:100%;
    align-items: center;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 29, 56, 0.8); 
  }

/*
.sidenav_toggler > .sidenav_list{
    display: none;
}
*/
.navbar_top > .navbar_list_item > li{
    width:100%;
    font-size:1.3rem;
    padding:10px;
    text-align: center;
    font-family:raleway-thin,montserrat,"baskerville old face";
}
.fa-user-check{
    color:#1565C0;
    font-weight:600;
}
.fa-studiovinari,
.fa-bullhorn
{
    color: #b21f1f;
    font-weight:600;
}
.fa-paper-plane{
    color:#FF0099;
    font-weight:600;
}
.fa-tasks{
    color:#f5af19;
}
.fa-address-card{
    color:#00F260;
}
.fa-user-check,
.fa-studiovinari,
.fa-paper-plane,
.fa-tasks,
.fa-address-card {
    display: block;
    width:100%;
   margin:10px auto;
}
.navbar_toggler_icon_open{
    background-color: transparent;
    color:#fff;
    display: none;
    border:none;
    z-index: 100;
    font-size: 2rem;
    outline: none;
    padding: 10px;
}
 a{
     color:#fff;
    text-decoration: none;
}
.sticky_about > .intro_flex_container{
    display: flex;
    margin:3rem auto;
    justify-content: center;
    padding:10px;
    align-items: center;
}
.sticky_about > .intro_flex_container > .display_image > img{
    height:100%;
    width:70%;
    display: block;
    margin:20px auto;
}
.sticky_about > .intro_flex_container > .my_intro{
    color:#fff;
    margin:auto 30px;
    width:30%;
    display: inline-block;
    font-family: quicksand-light;
    line-height: 1.6;
    text-align: justify;
}
.post_script{
    margin:10px auto;
    display: flex;
    font-family: quicksand-light;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.post_script > p{
    border:1px solid #00F260;
    border-radius: 10px;
    min-width:150px;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}
.post_script > h3{
    display: flex;
    font-family: dancing-script-bold;
    letter-spacing: 3px;
    font-size:1.2rem;
    justify-content: flex-start;
    align-items: center;
}
.tea_cup{
    height:80px;
    width:100px;
}

/*Footer*/
#footer_bottom{
    width:100%;
    min-height:100px;
    background-color: #000;
    color:#fff;
}
#footer_bottom > .social_media_contact{
    list-style-type: none;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:10px auto;
}
#footer_bottom > .social_media_contact > li{
    margin:20px;
    font-size: 3rem;
}
#footer_bottom > .personal_contact{
    list-style-type: none;
    width:100%;
    font-size:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: quicksand-light;
    margin:0 auto;
}
.fa-facebook,
.fa-linkedin,
.fa-instagram,
.fa-github{
    transition: all 0.2s ease-in-out;
    filter:drop-shadow(5px 5px 2px rgba(33, 147, 176, 0.5));
}
.fa-facebook:hover{
    filter:drop-shadow(-5px 5px 2px rgba(0, 242, 96, 0.5))
}
.fa-instagram:hover{
    filter:drop-shadow(-5px 5px 2px rgba(178, 31, 31, 1));
}
.fa-linkedin:hover{
    filter:drop-shadow(-5px 5px 2px rgba(245, 175, 25, 1));
}
.fa-github:hover{
    filter:drop-shadow(-5px 5px 2px rgba(255, 0, 153, 1));
}
#footer_bottom > .personal_contact > li{
    margin:20px;
}
#footer_bottom > .personal_contact > li > .line{
    margin:10px auto;
    width:50px;

}
@media only screen and (max-width:800px){
    .navbar_top{
        transform: scale(0);
        min-width:20%;
    }
    .navbar_top > h3{
        font-size:3rem;
    }
    .sticky_about > .intro_flex_container{
        flex-direction: column;
        margin:2rem auto;
        width:80%;
    }
    .sticky_about > .intro_flex_container > .display_image > img{
        width:100%;
    }
    .sticky_about > .intro_flex_container > .my_intro{
        width:100%;
    }
    .navbar_toggler_icon_open{
        display: inline;
        position: fixed;
        background-color: #0009;
        padding: 15px;
        right:10px;
        bottom:10px;
    }
    .name_top_head{
        background:linear-gradient(to right, #0009,#0009), url('/assets/bg-3.gif');
        background-size: cover;
    }
}
/*
@media only screen and (max-width:650px){
    
    .navbar_top{
        min-height:50px;
    }
    .navbar_top > .navbar_list_item{
        display: none;
    }
    .navbar_top > .navbar_toggler_icon_open{
        display: inline;
        position:relative;
        top:60px;
        background-color: #000;
        padding: 10px;
        right:15px;
    }
    .sidenav_toggler > .navbar_toggler_icon_close{
        display: inline;
        position: fixed;
        left:25%;
        top:5px;
        transform:translateX(-4000px) ;
        transition: all 0.8s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list{
        display: flex;
        transform:translateX(4000px) ;
        flex-direction: column;
        height:100vh;
        overflow-y:scroll;
        z-index: 99;
        justify-content: center;
        position: fixed;
        top:0%;
        left:0;
        padding:10px;
        align-items: center;
        background-color: #000;
        min-width:50%;
        list-style: none;
        transition: all 0.5s ease-in-out;
    }
    .sidenav_toggler > .sidenav_list > li{
        border: 1px solid #fff;
        padding:20px;
        text-align:center;
        min-width:inherit;
        margin:15px auto;
    }
}
*/
@media only screen and (max-width:500px){
    .sticky_about > .intro_flex_container{
        flex-direction: column;
        margin:3rem auto;
        padding: 0;
        width:90%;
    }
    .navbar_top > h3{
        font-size:2rem;
    }
    #footer_bottom > .personal_contact{
        flex-direction: column;
    }
}
@media only screen and (max-width:350px){
    .section_heading{
        font-size:2.5rem;
    }
    .about_me_flex{
        width: 90%;
    }
}