@font-face{
    font-family:harryPotterFont;
    src:url('../fonts/HARRYP.ttf');
}
@font-face{

    font-family: quicksand-bold;
    src: url('../fonts/Quicksand-Bold.ttf');
}
@font-face{
    font-family: quicksand-light;
    src: url('../fonts/Quicksand-Light.ttf');
}
@font-face{
    font-family: quicksand-regular;
    src: url('../fonts/Quicksand-Regular.ttf');
}
*{
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #000;
}
.section{
    height:100vh;
    scroll-snap-type: mandatory;
    background-attachment: fixed;
}
#name_section{
    height:100vh;
    width:100vw;
    background:url('/assets/bg.gif') center no-repeat;
    background-size: cover;
    margin-bottom:5rem;
}
.section_heading{
    color:#fff;
    text-transform: capitalize;
    font-family: quicksand-light;
    font-size:4rem;
    text-align: center;
    letter-spacing: 5px;
}